<h1>New Bookmark</h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' %>

  <fieldset>
    <%= f.submit "Create" %>
    <%= link_to 'Back', bookmarks_path %>
  </fieldset>
<% end %>

